<footer class="w-full mt-auto py-4">
  <span
    class="block w-full h-[2px] bg-gradient-to-r from-[#6E1FC7] via-[#D136DF] to-[#19A7CE]"
  ></span>
  <div>
    <nav>
      <ul class="flex justify-center gap-16 mt-4">
        <li class="text-white hover:underline">À propos</li>
        <li class="text-white hover:underline">Mentions légales</li>
        <li class="text-white hover:underline">Contact</li>
      </ul>
    </nav>
  </div>
  <div class="flex flex-col justify-center items-center my-4">
    <p class="text-white">© Rénovéo 2025</p>
    <p class="text-white">Tous droits réservés</p>
  </div>
</footer>

